<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그</title>
</head>
<body>
    <div>이름 : <%- Animal.name %></div>
    <div>나이 : <%- Animal.age %>세(추정)</div>
    <div>품종 : <%- Animal.sort %></div>
    <div>보호시작날짜 : <%- Animal.date %></div>
    <a href="/animal_list">목록으로</a>
</body>
</html>